*{
	box-sizing: border-box;
}
.navbar{
	 background-image:  linear-gradient(#f4511e, #f4511e),url(ab.jpg);
	 height: 100vh;
	 background-size: cover;
     background-position: center;
     	background-blend-mode: multiply;


    } 
.navbar ul{

float: right;
  list-style-type: none;
  margin-top:25px;
}
.navbar ul li{
	
	 display: inline-block;
}
.navbar ul li a{
	text-decoration: none;
	color:#fff;
	padding: 7px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}
.navbar ul li a:hover{
	background-color: #fff;
	color:#000;

}

}
.active {
  background-color:white;
  color:black;
}

.navbar ul li ul li{
  display:none;

}
.navbar ul li:hover ul li{
  border: none;
  display: block;
  float: none;
  width: 10%;

}

.text{
	color: white;
	text-align: center;
	text-transform: uppercase;
    padding-left: 500px;
}
.text h1{
	padding-top: 230px;
	font-size: 50px;
	
}
.text p{
	letter-spacing: 5px;
	padding-right: 15px;
	font-size: 13px;
}


/*About section*/
.image__background img{
	width: 100%;
	max-width: 100%;
	height: auto;
}
.about__section{
	padding: 50px 0;
 	 background-image:  linear-gradient(#f4511e, #f4511e),url(a.jpg);
	background-blend-mode: multiply;
	color: white;
}
.about__section h1{
	padding-left: 150px;
}
.about__section h4{
	font-size: 28px;
	font-weight: 500;
}
.about__section p{
	line-height: 36px;
	font-weight: 300px;
}
.btn__dark{
	display: inline-block;
	background-color: #212121;
	color: #fff;
	text-decoration: none;
	padding: 15px 20px;
	border-radius: 100px;
	font-size: 14px;
	letter-spacing: 2px;
	transition: all 0.4s
}
.btn__dark:hover{
	background-color: #fff;
	color: #f4511e;
}

/*gallery section*/





.slider{
	width: 1000px;
	height: 750px;
	background: url(h.jpeg);
	margin: 100px auto;
	animation: slide 30s infinite;
}
@keyframes slide{
	25%{
		background: url(ab.jpg);
	}

	50%{
		background: url(g.jpg);
	}
	
	

	75%{
		background: url(le.jpeg);
	}

	100%{
		background: url(n.jpeg);
	}

	125%{
		background: url(ke.jpeg);
	}

}

.heading{
	font-size: 50px;
	text-align: center;
}

/*subscribe section*/
.subscribe__section{
	padding: 50px 0;
	background-color: #212121;
	color: #fff;
}
.button{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.btnn{
	text-decoration: none;
	color:#fff;
	padding: 10px 10px;
	border: 1px solid #fff;
	transition: 0.6s ease;
}
.btnn:hover{
	background-color: #fff;
	color:@000;
}


.sign-up-form{
	width:300px;
	box-shadow:0 0 3px 0 rgba(0,0,0,0.3);
	background: white;
	padding:20px;
	margin: 8% auto 0;
	text-align: center;
}
.sign-up-form h1{
	color: #1c8adb;
	margin-bottom: 30px;
}
.input-box
{
	border-radius: 20px;
	padding: 10px;
	margin: 10px 0;
	width: 100%;
	border: 1px solid #999;
	}
.signup-btn{
	background-color: #1c8adb;
}

.content-footer p{
   
  font-size: 25px;
  padding-right: 90px;
   border-bottom: 1px solid black;
}
.content-footer ul li {
  float: left;
  list-style-type: none;
  padding: 0 15px;
padding-bottom: 20px;
border: 1px solid black;
margin: 7px;

margin-bottom: 10px;
}

